p.commentText {
    margin-left: 40px;
    font-size: 13pt;
}
p.commentUser {
    margin-left:50px;
}

#statuts {
    height: 80vh;
    overflow-y : scroll;
    overflow-x: hidden ;
}

.statuttext {
    width: 100%;
}