<template name="welcome">
<!--
    <div class="hero-unit" style="background: url('images/funny-kitten.jpg')">
        <h1> Bienvenue sur Pict'Us</h1>

        <p>L&agrave; o&ugrave; on partage ses photos avec passion !</p>

        <button><i class="fa fa-sign-in fa-4x"></i></button>
    </div>
-->
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Bienvenue sur Pict'Us</h1>
                    <h2 class="subtitle">L&agrave; o&ugrave; on partage ses photos avec passion !</h2>
                        <button type="submit" class="btn btn-theme">{{>loginButtons}}</button>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                </div>

            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="copyright">Copyright &copy; 2014/2015 - SIOCC</p>
                </div>
            </div>
        </div>
    </div>

</template>