<template name="publier">

    <form class="main form">

        <div class="form-group">
	        <label for="categorie" class="control-label"> Cat&eacute;gorie</label>

            <div class="controls">
	            <select name="categorie" id="categorie" class="form-control">
	            {{#each categories}}
		            <option name="{{value}}" value="{{_id}}">
			            {{nom}}
		            </option>
	            {{/each}}
                </select>
            </div>

        </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class ="form-control" name="description" rows="3" cols="20" id="description" placeholder="Description"></textarea>
    </div>

        <input type="file" id="imageImport" value="imageImport" name="imageImport" required/>

	    <!--{>dropzone}} -->
        <br/>
        <input type="submit" value="Publier" class="btn btn-primary" required/>

	</form>
</template>